TECS436 Assignment 1 Brief.pdf
TECS436 Assignment 1 Generic Lesson plan template.pdf
TECS436 Assignment 1 Lesson Planning Checklist.pdf
TECS436 Assignment 1 Lesson Planning Overview Template.pdf
TECS436 Assignment 1 Literacy Tools.pdf
TECS436 Assignment 1 Slides.pdf
TECS436 Assignment 1 Teaching Observation Framework (ERO).pdf
TECS436 Assignment 1 Vocabulary List of Terms in Assignment 1.pdf

TECS436_Assignment_1_v2.pdf

TECS433_A1
TECS436_HW1

.DS_Store
.claude/
